{{ define "main" }}
<section class="sm:py-5 w-full">
    <div class="pt-10 max-w-5xl mx-auto space-y-10">
        <div>
            <p class="text-gray-900 mulish">
                We're a Data Engineering company from Zagreb, Croatia. Specialising in crafting data
                solutions that drive innovation. Interested in collaborating? Drop us a line at
                <a href="mailto:tin@flowacross.com" class="text-[#295153] font-bold">tin@flowacross.com</a>
                and let’s dive into the flow!
            </p>
        </div>
        <div class="space-y-5">
            <div class="text-gray-900">
                <h1 class="text-2xl font-bold pb-2 poppins-thin">Contact</h1>
                <p class="mulish font-bold">Flow Across d.o.o.</p>
                <a href="mailto:tin@flowacross.com" class="text-[#295153] font-bold">tin@flowacross.com</a>
                <p class="mulish font-bold pt-5">Štefanovec 132</p>
                <p class="mulish font-bold">10 000 Zagreb</p>
                <p class="mulish font-bold">Croatia</p>
        </div>
    </div>
    </section>
{{ end }}