{{ define "main" }}
<section class="w-full">
    <div class="sm:flex justify-between space-y-16 max-w-5xl mx-auto sm:space-y-0">
        <div class="sm:w-3/5">
           {{ partial "svg.html" }}
        </div>
        <div class="text-left sm:w-2/5 sm:pt-40">
            <h1 class="text-3xl text-gray-900 poppins font-extrabold">Welcome</h1>
            <p class="text-gray-900 mulish font-bold py-3">We're architecting and engineering robust data solutions and efficient pipelines.</p>
            <a href="mailto:tin@flowacross.com" class="text-[#295153] mulish-normal font-bold">tin@flowacross.com</a>
        </div>
    </div>
</section>
{{ end }}