{{ define "main" }}
<section class="w-full">
    <div class="sm:flex justify-between space-y-16 max-w-5xl mx-auto sm:space-y-0">
        <div class="text-left sm:w-2/5 py-20 sm:py-32">
            <h1 class="text-3xl text-gray-100 poppins font-extrabold">Welcome</h1>
            <p class="text-gray-100 mulish font-bold">We're designing and developing beautiful products and useful
                tools.</p>
            <a href="mailto:hi@picocherry.com" class="text-red-600 mulish-normal font-bold">hi@picocherry.com</a>
        </div>
        <div class="sm:w-3/5">
           {{ partial "svg.html" }}
        </div>
    </div>
</section>
{{ end }}